body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;  
    font-weight: 100;
}
*{
    margin: 0;
    letter-spacing: 0px;
}
body, html{    
    margin: 0;
    letter-spacing: 0px;
}
body{
    height: 100%;
}
/*General Settings*/
p{
    font-size: 16px;
}
h1{
    font-size: 60px;
    font-weight: 100;
}
h2{
    font-size: 50px;
    font-weight: 100;
}
h3{
    font-size: 40px;
    font-weight: 100;
}
h4{
    font-size: 30px;
    font-weight: 100;
}
h5{
    font-size: 20px;
    font-weight: 100;
}
h6{
    font-size: 15px;
    font-weight: 400;
}
.btn{
    padding: 10px;
    background: rgb(74, 73, 73);
    color: white;
    border: none;
    font-size: 16px;
}
.btn-search{
    width: 150px;
    height: 50px;
}
.btn-gps{
    background-image: url(./icon/gps.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.group-button{
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.main{
    height: 100vh;
    width: 100vw;    
    margin: 0px;  
    padding: 0px; 
    /*New way to Show the informactions*/
    display: flex;
    background-color: #100E1D;
}
/* CSS about Side bar*/
.sideBar{
    padding: 15px;
    width: 27%;
    background-color: #1E213A;
    position: relative;  
}
.search{   
    height: 30px;
    border: none;
    background: none;
    color: white;
    font-size: 15px;
}
.search:hover{
    font-size: 17px;
}
.btn-close{
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-image: url(./icon/close.png);
}
/*Form about Search*/
.form{
    margin: 80px 0px 40px 0px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}
.cityName{
    width: 250px;
    height: 35px;
    border: solid white 1px;
    padding: 2px;
    font-size: 16px;
    color: white;
    background: none;
    margin-right: 5px;
}
.buttonSearch{
    padding: 10px;
    background-color: rgb(25, 0, 123);
    border: none;
    width: 100px;
    height: 45px;
    font-size: 16px;
}

/*List of Cities*/
.list-Search{
    padding: 5px;
}
.list-button{
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 20px 0px 20px 0px;
    color: white;
    text-align: left;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #05050500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seta{
    width: 20px;
    height: 20px;
    background-image: url(./icon/seta.png);
    background-size: contain;
}
.list-button:hover{
    outline: 1px white solid;
}
.statusCity{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: baseline;
    align-items: center;
    justify-content: center;
}
.status{
    padding-top: 50px;
    text-align: center;
}
.tempCity{
    padding: 10px;
    font-size: 70px;
    margin: 63px 0px 63px 0px;
}
.hour-1, .more-1{
    margin: auto;
    padding: 10px;
    width: 200px;
    height: auto;
    text-align: center;
    border-right: solid 1px rgba(255, 255, 255, 0.185);
}
/*
.rain, .huminity, .temp, .wind{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}*/
.last{
    border-right: none;
}
.containerSky{
    display: flex;
}
.containerInfo{
    display: flex;
}
.weekly{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 14%);
}
.week{
    text-align: center;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background: #05050500;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: #fffeff6c;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background: #fffeff;
    border-radius: 50px;
    height: 10px;
}
.image{
    padding: 3px;
    width: 40px;
    height: 40px;
}
.image_10{
    width: 300px;
    height: 300px;
    margin: 0px 0px 10px 0px;
}
.rainPercent{
    margin-left: 5px;
}
.btn-info{
    margin-top: 3px;
    width: 100px;
    height: 40px;
    border: none;

}
.btn-less{
    margin: 5px;
    width: 100px;
    height: 30px;
    display: none;
}
.cloud{
    background: url(./icon/cloud-2.jpg); 
    background-position: center;background-repeat: no-repeat; background-size: cover;
}
.rainy{
    background: url(./icon/rain.jpg); 
    background-position: center;background-repeat: no-repeat; background-size: cover;
}
.sunrise{
    background: url(./icon/sunrise.jpg); 
    background-position: center;background-repeat: no-repeat; background-size: cover;
}
.midday{
    background: url(./icon/midday.jpg); 
    background-position: center;background-repeat: no-repeat; background-size: cover;
}
.sunset{
    background: url(./icon/sunset_1.jpg); 
    background-position: center;background-repeat: no-repeat; background-size: cover;
}
.night{
    background: url(./icon/cloud-2.jpg); 
    background-position: center;background-repeat: no-repeat; background-size: cover;
}
.location{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}
.location img{
    height: 30px;
}
.date, .sky{
    margin: 50px 0px 60px 0px;
}
.visible{
    display: block;
}
.invisible{
    display: none;
}
/*----------Body Css----------*/
.body-project{
    width: 70%;
    background-color: #100E1D;
    position: relative;
}
.btn-group-wheater{
    position: absolute;
    right: 20px;
    margin: 50px;
}
.btn-unity{
    border-radius: 50%;
    margin: 4px;
    height: 50px;
    width: 50px;
    font-size: 18px;
}
.btn-unity:hover{
    background-color: rgb(12, 12, 12);
    border: 1px solid wheat;
    color: white;
}
.btn-active{
    background-color: white;
    border: 1px solid wheat;
    color: #252525;
}
/*----------Week Weather---------*/
.temp-day{
    display: flex;
    margin: 150px 0px 40px 0px;
    justify-content: space-around;
}
.day{
    width: 175px;
    height: 230px;
    margin: 5px;
    padding: 15px;
    border-radius: 3px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E213A;
}
.temps{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
}
.day h4{
    font-size: 22px;
}
.temp{
    width: 125px;
    height: 125px;
    padding: 20px 0px 15px 0px;
}
/*----------------hight-lights CSS--------*/
.hight-lights{
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.high{
    margin-left: 250px;
}
.more-info{
    display: grid;
    padding: 8px;
    row-gap: 25px;
    column-gap: 25px;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 220px 125px;
}
.more-info h5{
    font-size: 24px;
}
.wind, .humidity, .visibility, .air{
    padding: 10px;
    background-color: #1E213A;
    text-align: center;
}
.visibility, .air{
    text-align: center;
}
.humidity{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.humidity h5, .humidity h2{
    margin: 15px;
}
.progressive{
    margin: 10px;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(224, 219, 219);
    position: relative;
}
.progress{
    border-radius: 5px;
    width: 85%;
    height: 10px;
    position: absolute;
    left: 0px;
    background-color: #fea400;
}
.prog{
    display: flex;
    flex-direction: column;
    position: relative;
}
.percDisc{
    display: flex;
    justify-content: space-between;
} 
.hundred{
    position: absolute;
    right: 0px;
    bottom: -10px;
}
.navegation{
    border-radius: 50%;
    background-color: rgb(93, 90, 90);
    height: 45px;
    width: 45px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav h5{
    margin: 7px;
}